html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
    padding: 2.3rem;
}

#main_title{
    color: chocolate;
    font-weight: 650;
    font-size: 3.3rem;
    margin-right: 50px;
}

#page_info{
    font-size: large;
}

footer{
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 50;
    background-color: chocolate;
}

#footer_text{
    font-weight: 600;
    color: white;
    /* color: #34383B; */
    font-size: larger;
}


.nav-item{
    margin-left: 45px;
}

#navbar-links{
    margin-top: 6px;
}

.navbar{
    background-color: lightgrey;
}

#product_table{
    margin: auto;
}

#product_name_link{
    color: black;
}

#opinion_table{
    table-layout: auto;
    font-size: 15px;
}