html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content{
    padding: 2.3rem;
}
header{
    margin-bottom: 50px;
}

#title_h1{
    color: chocolate;
    font-weight: 650;
    font-size: 3.8rem;
}

#page_info{
    font-size: large;
}

footer{
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 50;
    background-color: chocolate;
}

#footer_text{
    font-weight: 50;
    color: white;
    font-size: large;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: chocolate;
}

i{
    color: white;
    font-size: large;
}
/* .nav-link{
    padding: 0 2vh 0 2vh;
} */