{% extends "base.html.jinja" %}
{%block title %}
    <h2>Wykresy</h2>
{% endblock title %}
{% block content %}
    <img src="{{ image_path }}" alt="Wykres rekomendacji dla produktu {{ product_id }}">
{% endblock content %}