{% extends "base.html.jinja" %}
{%block title %}
    <h2>Ekstrakcja opinii</h2>
{% endblock title %}
{% block content %}
         {% if error is defined %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Uwaga!</strong> {{error}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endif%}
         <form method="POST" style="justify-content: center; margin-top: 60px;" action="{{url_for('extract')}}" class="row g-3">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="product_id" class="col-form-label">Podaj kod produktu</label>
                </div>
                <div class="col-auto">
                  <input type="text" name="product_id" id="product_id" class="form-control" aria-describedby="product_idHelpInline" placeholder="Podaj kod produktu" required>
                </div>
                <div class="col-auto">
                  <span id="product_idHelpInline" class="form-text">
                    Kod produktu musi zawierać 5-10 cyfr
                  </span>
                </div>
              </div>
              <div class="col-auto">
                    <button type="submit" class="btn btn-dark">Pobierz opinie</button>
              </div>
          </form>  
{% endblock content %}