{% extends "base.html.jinja" %}
{%block title %}
    <h2>Produkt {{product_id}}</h2>
{% endblock title %}
{% block content %}
         <p>To jest strona z opiniami o produkcie {{product_id}}</p>
{% endblock content %}